body {
  background-color: #D9F8C4;
}

h1 {
  color: #7A4069;
}

h3 {
  color: #7A4069;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.circular{
  border-radius: 90%;
}
